<!-- src/views/templates/trends.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trends</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'header.html' %}
    <h1>Trends</h1>
    <div>
        <canvas id="trendsChart"></canvas>
    </div>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/trends.js') }}"></script>
</body>
</html>
